<div class="container mt-5">
    <h2 class="text-center mb-4">Image & Video Gallery</h2>
    <div class="row masonry-grid">
        <% media.forEach(item => { %>
            <div class="col-md-4 masonry-item mb-4">
                <div class="card">
                    <% if(item.type === 'image') { %>
                        <img src="<%= item.path %>" class="card-img-top" alt="<%= item.title %>">
                    <% } else if(item.type === 'video') { %>
                        <video controls class="card-img-top">
                            <source src="<%= item.path %>" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const grid = document.querySelector('.masonry-grid');
        const msnry = new Masonry( grid, {
            // options
            itemSelector: '.masonry-item',
            columnWidth: '.masonry-item',
            percentPosition: true
        });
    });
</script>
