<div class="homepage-container">
    <div class="homepage-text-content">
        <h1>CUSTOMIZE YOUR BIKE</h1>
        <p>HOLOGRAPHIC · FLUOR · METALLIC</p>
        <p>FREE SHIPPING!</p>
        <p>BE THE FIRST TO GET THE BEST!</p>
        <a href="/form" class="btn btn-primary">Start Form</a>
    </div>
    <div class="homepage-image"></div>
</div>
