<div class="homepage-container">
    <div class="homepage-text-content">
        <h1 style="font-size: 6rem; margin-bottom: 0; line-height: 5rem;">CUSTOMIZE</h1>
        <h1>YOUR BIKE</h1>
        <p>HOLOGRAPHIC · NEON · METALLIC</p>
        <p>FREE SHIPPING!</p>
        <p>STAND OUT ON THE TRACK WITH PERSONALIZED DESIGNS!</p>
        <a href="/form" class="btn btn-home">START HERE</a>
    </div>
    <div class="homepage-image"></div>
</div>
