<div class="homepage-container">
    <div class="homepage-text-content">
        <h1 class="customize-header" style="margin-bottom: 0; line-height: 5rem;">CUSTOMIZE</h1>
        <h1 class="your-bike-header">YOUR BIKE</h1>
        <p>FREE SHIPPING ON ORDERS OVER $100!</p>
        <p>STAND OUT ON THE TRACK WITH PERSONALIZED DESIGNS!</p>
        <a href="/form" class="btn btn-home">START HERE</a>
    </div>
    <div class="homepage-image"></div>
</div>
