<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dirtbike Customization</title>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">

    <!-- Link Bootstrap CSS from node_modules -->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">  <!-- Custom CSS -->

</head>

<body>

    <!-- Include Navbar -->
    <%- include('partials/navbar') %>

    <!-- Content will be injected here -->
    <%- include(body) %>

    <!-- Include Footer -->
    <%- include('partials/footer') %>

    <!-- Bootstrap JS and dependencies -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
<script src="/js/bundle.js"></script>
</html>
