.step4-container {
    color: #f5f5f5; /* Light gray text color */
}

.step4-label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.step4-upload-btn {
    display: block;
    margin: 10px 0;
    background-color: #4CAF50; /* Green color */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.step4-upload-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.step4-file-list {
    list-style-type: none;
    padding: 0;
    border: 2px solid #f5f5f5; /* Border for the file list */
    border-radius: 4px;
    max-width: 300px;
}

.step4-file-item {
    padding: 8px;
    border-bottom: 1px solid #f5f5f5; /* Divider line between file names */
}

.step4-file-item:last-child {
    border-bottom: none; /* No divider for the last item */
}

.step4-file-delete {
    background-color: #ff4d4d; /* A light red background */
    color: #fff; /* White "x" text */
    border-radius: 50%; /* Make it a circle */
    width: 20px; /* Set width */
    height: 20px; /* Set height */
    display: inline-block; /* To help with positioning */
    text-align: center; /* Center the "x" */
    margin-left: 10px; /* Some space from the file name */
    cursor: pointer; /* Indicate it's clickable */
    transition: background-color 0.3s; /* Smooth color transition for hover */
}

.step4-file-delete:hover {
    background-color: #e60000; /* A darker red for hover effect */
}